<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
            </a>
            <p class="text-muted">&copy; 2001-2022</p>
        </div>

        <div class="col mb-3">

        </div>

        <div class="col mb-3">
            <h5>Contacto</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+3385759430</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+3385285603</a></li>
                <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">+426938</a></li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Redes</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2"><a href="https://www.instagram.com/giordanocamiones/?hl=es-la" class="nav-link p-0 text-muted">Instagram</a></li>
                <li class="nav-item mb-2"><a href="https://m.facebook.com/profile.php?id=100086712339338" class="nav-link p-0 text-muted">Facebook</a></li>
            </ul>
                
        </div>
    </footer>
</div>

        