<div class="container text-center m-5 fondo">
    <hr>
    <h1>
        Pedidos
    </h1>
    <hr>
</div>

<div class="container m-5">
    <form action="/formulario" method="post">
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="precio" class="form-label">Precio</label>
            <input type="number" class="form-control" id="precio" name="precio" required>
        </div>
        <div class="mb-3">
            <label for="codigo" class="form-label">Codigo</label>
            <input type="number" class="form-control" id="codigo" name="codigo" required>
        </div>
        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary w-75">Enviar</button>
        </div>
        
    </form>
</div>