<div class="container text-center m-5 ">
    <h1> 
        <font color="white">Bienvenidos a Giordano Cam s.a.s</font>
    </h1>
</div>

<hr class="hr">

<link rel="stylesheet" href="../public/css/index.css">

    
    <div id="sobrenosotros" class="row featurette m-5">
        <div class="col-md-7 order-md-2">
            <h2  id="nosotros" class="featurette-heading fw-normal lh-1 ">Sobre nosotros </h2>
            <p class="lead">Somos una empresa fundada en 2001, dedicada principalmente a la reparacion de frenos y valvulas de aire tanto como de camiones y acoplados. <br>
            Tambien tenemos nuestro local de repuestos, donde tenemos variedad sobre las marcas Ford, Volkswaguen, Mercedes benz, Scania e Iveco. <br>
            Estamos ubicados en Laboulaye, provincia de Cordoba sobre ruta 7 km 489.
            </p>
        </div>
        
        <div class="col-md-5 order-md-1">
            <iframe class="mapa"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13207.934539942411!2d-63.398900430224614!3d-34.14676079999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc97fe19a54c7742b!2sGiordano%20Cam!5e0!3m2!1ses-419!2sar!4v1673889836673!5m2!1ses-419!2sar"
        width="450" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    


